* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* PERSONALIZADOS */

/* navbar */

.navbar-personalizada a {
    font-size: 17px;
    color: #202124;
}

.logo {
    width: 100px;
    height: 100px;
}

/* index-article */

.txt-btn {
    text-decoration: none;
    color: #ffffff;
}

.bg-index {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../images/index-background.jpg);
    background-size: cover;
    background-position: center;
}

.txt-index {
    text-align: center;
}


.txt-index button {
    padding-left: 35px;
    padding-right: 35px;
    margin: 35px;
}

/* FOOTER */

.footer-personalizado ul {
    display: flex;
    list-style: none;
}

.footer-personalizado ul li {
    padding: 15px;
}

.footer-personalizado ul li a img {
    width: 40px;
    height: 40px;
}

/* MEDIA QUERIES*/

@media (min-width: 992px) {
    .navbar-personalizada a {
        font-size: 20px;
        font-weight: bold;
    }

    .logo {
        width: 150px;
        height: 150px;
    }
}